.container {
    max-width: $container-width;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    &--partners-page-header {

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.container-fluid {
    max-width: 1920px;
    padding-right: 0;
    padding-left: 0;
}
