.history-vacancy {
    background-image: none;
    background-color: $color-light;

    @include desktop {
        padding: 48px 0 56px;
    }

    .title {
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 40px;
        }

        @include desktop {
            margin-bottom: 60px;
        }
    }

    .section__topical-pagination {
        @include desktop {
            top: 40px;
        }

        .swiper-pagination-bullet {
            background-color: $color-dark-gray;

            &.swiper-pagination-bullet-active {
                background-color: $color-dark-green;
            }
        }
    }

    &__date {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 8px;

        @include desktop {
            font-size: 14px;
            line-height: 21px;
            margin: 0 0 12px;
        }
    }
}
