.history-vacancy {
    background-image: none;
    background-color: $color-light;

    @include desktop {
        padding: 48px 0 56px;
    }

    .title {
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 40px;
        }

        @include desktop {
            margin-bottom: 60px;
        }
    }

    .card-topical {
        .card-topical__image {
            height: 240px;

            @include desktop {
                height: 350px;
            }
        }

        .card-topical__subtitle {
            font-weight: 300;
            margin: 0 0 5px;
        }

        .card-topical__title {
            margin: 0;
        }

        .card-topical__link {
            font-size: 12px;
            line-height: 16px;
            text-transform: none;
            letter-spacing: 0;
            color: $color-black;
            transition: all 0.2s ease-in-out;
            margin: 20px 0 0;

            @include desktop {
                font-size: 14px;
                line-height: 21px;

                &:hover {
                    color: $color-dark-green;
                    text-decoration: none;
                }
            }
        }
    }

    .section__topical-pagination {
        @include desktop {
            top: 40px;
        }

        .swiper-pagination-bullet {
            background-color: $color-dark-gray;

            &.swiper-pagination-bullet-active {
                background-color: $color-dark-green;
            }
        }
    }

    &__date {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 8px;

        @include desktop {
            font-size: 14px;
            line-height: 21px;
            margin: 0 0 12px;
        }
    }
}
