mixin cookies-note
    .cookies-note This website uses cookies to improve service and provide tailored ads. By using this site, you agree to this use. See our <a href="#">Cookie Policy</a>. <a href="#">OK</a>
