block variables
    - var addClass = ""

doctype
html(lang='nl')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        block head
            title= pageTitle || ''
            meta(name='description' content=pageDescription || '')
        meta(name="keywords" content="")
        meta(name="copyright" content="")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="HandheldFriendly" content="True")
        meta(http-equiv="cleartype" content="on")
        meta(name='theme-color', content='#ffffff')

        block styles
            link(href='css/main.css' rel='stylesheet')

        block scripts-head

    body(class=theme)
        include _header

        block content

        include _footer

        block scripts-body
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js')
            script(src='js/vendor.js')
            script(src='js/app.js')
