mixin slider-main
    .swiper-container.slider-main
        .swiper-wrapper
            .swiper-slide
                img(src="img/header-bg.jpg" alt="" width="1926" height="880")
                .slider-main__caption
                    p POINT 7
                    p amsterdam
                    a(href="#").slider-main__link Bekijk case
            .swiper-slide
                img(src="img/header-bg.jpg" alt="" width="1926" height="880")
                .slider-main__caption
                    p POINT 7
                    p amsterdam
                    a(href="#").slider-main__link Bekijk case
            .swiper-slide
                img(src="img/header-bg.jpg" alt="" width="1926" height="880")
                .slider-main__caption
                    p POINT 7
                    p amsterdam
                    a(href="#").slider-main__link Bekijk case
        .slider-main__controls
            .slider-main__prev.arrow-prev-white
            .slider-main__next.arrow-next-black
