@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

$themes: (
    default: (
        linkColorHover: $color-green,
        contactTitle: $color-green,
        borderColor: $color-green,
    ),
    project: (
        linkColorHover: $color-blue,
        contactTitle: $color-blue,
        borderColor: $color-blue,
    ),
    partner: (
        linkColorHover: $color-orange,
        contactTitle: $color-orange,
        borderColor: $color-orange,
    ),
);

.contact__item--title {
    @include themify($themes) {
        color: themed("contactTitle");
    }
}

.contact__item a:hover,
.contact__item a:focus {
    @include themify($themes) {
        color: themed("linkColorHover");
    }
}

.footer__links a:hover,
.footer__links a:focus {
    @include themify($themes) {
        color: themed("linkColorHover");
    }
}

.footer__col:not(:last-child) {
    @include themify($themes) {
        border-color: themed("linkColorHover");

        @include tablet {
            border-color: transparent;
        }
    }
}
