mixin social
    ul.list.social
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link.icon-facebook
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link.icon-linkedin-white
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link.icon-twitter
