mixin summary
    .summary
        .container
            .summary__body
                img(src="img/summary-bg.jpg" alt="").summary__img
                h2.summary__title point 7
                .summary__text
                    p.summary__description Het kantoorgebouw aan de Peter van Anrooystraat 7 is centraal gelegen nabij de Amsterdamse Zuidas. De locatie bevindt zich direct ten noorden van de rechtbank van Amsterdam en ten westen van de Parnassusweg. Het gebouw staat ‘vrij’ in zijn omgeving en heeft een sterke eigen identiteit. De nabijheid van de rijksweg A10 (afslag S108 of S109) maakt de locatie per auto goed bereikbaar.
                    .summary__quote “We bekijken vastgoed altijd vanuit de lange termijn. Of we het nu zelf houden of niet.”
                .summary__legend
                    ul.summary__legend-list
                        li.summary__legend-item
                            .icon-building.summary__legend-icon
                            span Kantoor
                        li.summary__legend-item
                            .icon-location.summary__legend-icon
                            span Peter van Anrooystraat 7, Amsterdam
                        li.summary__legend-item
                            .icon-area.summary__legend-icon
                            span 4.055 m²
                        li.summary__legend-item
                            .icon-parking.summary__legend-icon
                            span Ruime parkeergarage
