mixin story
    .story
        .story__header
            img(src="img/story1.jpg" alt="" width="918" height="618").story__header-img
            .story__text
                h2.story__title Mischien heeft het zo moeten zijn.
                p.story__description Het pand aan de Van Anrooystraat is al vanaf de vroege jeugd van Monique Maarsen in haar bewustzijn. Opa Maarsen werkte in de jaren zestig samen met de architect Piet Zanstra. Ze woonde er om de hoek en fietste er langs op weg naar school. Ze kende de verhalen. Sloeg gade hoe het pand verloederde. En zag haar kans schoon toen het in 2007, inmiddels zelf hoofd van Maarsen Groep, weer op de markt kwam. Een onontdekte parel, was het. En als een parel heeft Maarsen Groep het langzaam van zijn gesloten huls ontdaan en weer glans gegeven.
        .story__body
            .story__col
                img(src="img/story2.jpg" alt="" width="346" height="490")
            .story__col
                img(src="img/story3.jpg" alt="" width="556" height="350")
                .story__quote “We wilden het gebouw weer mooi maken. Met respect voor het verleden omtoveren tot een modern en duurzaam kantoorgebouw. Kunststof kozijnen en systeemplafonds eruit, ziel en zaligheid erin.”
            .story__col
                img(src="img/story4.jpg" alt="" width="512" height="642")

        .story__text.story__text--middle
            h2.story__title Betrokkenheid en bevlogenheid
            p.story__description Dit project is een mooi voorbeeld van hoe we bij Maarsen Groep onze projecten aanpakken, veelal vanuit eigen posities en daarmee langjarig betrokken bij de locaties. Elk gebouw en elke locatie heeft een eigen geschiedenis, buren en lokale overheden en daarmee zijn eigen uitdagingen. Zonder uitzondering is bevlogenheid bij ons de grote, gemene deler.

        .story__gallery
            img(src="img/story5.jpg" alt="" width="666" height="817").story__gallery-img-1
            .story__gallery-bottom
                img(src="img/story6.jpg" alt="" width="532" height="388").story__gallery-img-2
                img(src="img/story7.jpg" alt="" width="490" height="356").story__gallery-img-3
                img(src="img/story8.jpg" alt="" width="593" height="362").story__gallery-img-4
                .story__gallery-img-quote
                    img(src="img/story9.jpg" alt="" width="552" height="583").story__gallery-img-5
                    .story__gallery-quote “Dankzij dit pand laten we een<br> andere indruk achter bij onze klanten<br> en kunnen we gemakkelijker jong<br> talent aantrekken.”


