mixin contact
    ul.contact
        li.contact__item.contact__item--title(class!=attributes.class) Contact
        li.contact__item Postbus 87030
        li.contact__item 1080 JA Amsterdam
        li.contact__item
            span Tel:&nbsp;
            a(href="tel:0205407400") 020 540 7400
        li.contact__item
            a(href="mailto:info@maarsengroep.nl") info@maarsengroep.nl