mixin navbar
    nav.navbar
        ul.navbar__list
            li.navbar__item
                a(href="#").navbar__link Over ons
                ul.sub-menu
                    li
                        a(href="#") Het team
                    li
                        a(href="#") Historie Maarsen groep
                    li
                        a(href="#") Vacatures
            li.navbar__item
                a(href="#").navbar__link Portefeuille
                ul.sub-menu
                    li
                        a(href="#") Exploitatie
                    li
                        a(href="#") Ontwikkeling
            li.navbar__item
                a(href="#").navbar__link Nieuws
            li.navbar__item
                a(href="#").navbar__link Contact