mixin features
    .features
        .features__item
            .features__icon
                img(src="img/features-1.png" alt="" title="" width="54" height="54")
            p Maarsen Groep ontwikkelt vanuit eigen posities en heeft daardoor kennis, visie en een lange termijn-betrokkenheid bij de locaties waar zij actief is.
        .features__item
            .features__icon
                img(src="img/features-2.png" alt="" title="" width="54" height="54")
            p Maarsen Groep heeft een voorraad met vastgoedposities die op het economisch meest geschikte moment ontwikkeld, getransformeerd, gerenoveerd of verkocht worden.
        .features__item
            .features__icon
                img(src="img/features-3.png" alt="" title="" width="54" height="54")
            p Maarsen Groep is een milieubewuste organisatie en neemt haar verantwoordelijkheid richting maatschappij en de toekomstige generaties.
