mixin features
    .features
        .features__item
            .features__icon
                <svg><use xlink:href="img/sprite.svg#gear"></use></svg>
            p Maarsen Groep ontwikkelt vanuit eigen posities en heeft daardoor kennis, visie en een lange termijn-betrokkenheid bij de locaties waar zij actief is.
        .features__item
            .features__icon
                <svg><use xlink:href="img/sprite.svg#piggy-bank"></use></svg>
            p Maarsen Groep heeft een voorraad met vastgoedposities die op het economisch meest geschikte moment ontwikkeld, getransformeerd, gerenoveerd of verkocht worden.
        .features__item
            .features__icon
                <svg><use xlink:href="img/sprite.svg#leaf"></use></svg>
            p Maarsen Groep is een milieubewuste organisatie en neemt haar verantwoordelijkheid richting maatschappij en de toekomstige generaties.
