mixin search
    form(action="").form.form--search
        .form__group.has-icons-right
            input(type="search", name="search" placeholder="zoeken...").form__control.w-100
            input(type="submit", value="").form__icon.icon-search
