.form--search {
    .form__icon {
        background-color: transparent;
        border: 0;
    }
}

.search article {
    margin-block-end: 30px;
}

.search .entry-header {
    margin-bottom: 5px;
}

.search .entry {
    margin-bottom: 10px;
}
