mixin slider-filter
    .slider-filter-container
        a(href="#").slider-filter__link-detail Bekijk case
        .slider-filter.swiper-container.js-slider-filter
            ul.slider-filter__list.swiper-wrapper
                li.slider-filter__item.swiper-slide
                    img(src="img/project1.jpg" alt="sliderFilterPhoto" width="638" height="412")
                    .slider-filter__caption
                        .slider-filter__location cuserpark
                        .slider-filter__city AMSTERDAM
                li.slider-filter__item.swiper-slide
                    img(src="img/project2.jpg" alt="sliderFilterPhoto" width="638" height="412")
                    .slider-filter__caption
                        .slider-filter__location cuserpark
                        .slider-filter__city AMSTERDAM

                li.slider-filter__item.swiper-slide
                    img(src="img/project3.jpg" alt="sliderFilterPhoto" width="638" height="412")
                    .slider-filter__caption
                        .slider-filter__location cuserpark
                        .slider-filter__city AMSTERDAM

                li.slider-filter__item.swiper-slide
                    img(src="img/project4.jpg" alt="sliderFilterPhoto" width="638" height="412")
                    .slider-filter__caption
                        .slider-filter__location cuserpark
                        .slider-filter__city AMSTERDAM

            .slider-filter__controls
                .js-slider-filter-prev.slider-filter__prev.icon-prev-project
                .js-slider-filter-next.slider-filter__next.icon-next-project

        .slider-filter__description Op een paar minuten van de Zuidas en vlakbij Schiphol en het Amsterdamse Bos, zijn in Amsterdam vier vrijstaande kantoorpaviljoens gerealiseerd. De totale ontwikkeling bestaat uit vijf kantoorpaviljoens, welke samen het Cuserpark vormen. De vijf paviljoens liggen rond een tuin die tevens het dak vormt van een onderliggende parkeergarage.
            ul.slider-filter__icon-list
                li.slider-filter__icon.icon-building-grey(data-toggle="tooltip" data-placement="bottom" data-offset="30" title="TooltipText")
                <!-- li.slider-filter__icon.icon-house-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText") -->
                li.slider-filter__icon.icon-area-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText")
                li.slider-filter__icon.icon-location-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText")
                li.slider-filter__icon.icon-parking-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText")
                li.slider-filter__icon.icon-space-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText")
                li.slider-filter__icon.icon-website-grey(data-toggle="tooltip" data-placement="bottom" title="TooltipText")


