nav
    ul(aria-label="breadcrumbs" role="navigation").breadcrumbs.list-inline
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Breadcrumb1
        li.breadcrumbs__item(aria-current="page") Breadcrumb2
