//- Insert common template for all pages
extends ./templates/_base-template

include ./components/banner/banner
include ./components/title/title

block head
    - var pageTitle = 'Title';

block variables
    - var theme = "theme-default"

block content
    main.main
        +banner('img/news-hero-background.jpg', 'Nieuws, ontwikkelingen, goede doelen...')
        section.section.section--topical.news
            .container
                h2.title Nieuws
                .swiper-container.js-slider-news
                    .swiper-wrapper
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 31 maart 2022
                                    h4.card-topical__title
                                        | Fortitudo 
                                    h5.card-topical__subtitle
                                        | Website online
                                    p.card-topical__text.text-strong Fijn huren dichtbij het centrum van Amsterdam met het Rembrandtpark als jouw achtertuin en winkels om de hoek.
                                    p.card-topical__text.card-topical__text-middle Op de hoek van de Postjesweg en de Derkinderenstraat in Amsterdam Nieuw-West realiseren wij nieuwe middeldure huurappartementen. In Fortitudo komen 67 appartementen in een mix van 2 of 3 kamer appartementen. Je woont dicht bij het centrum van Amsterdam met alle voordelen van de stad én met het groen van het Rembrandtpark om je heen. Voor veel mensen de ideale combinatie! Door de ligging is Fortitudo uitstekend bereikbaar met de fiets, auto en ov.
                                    p.card-topical__text Blijf op de hoogte via de site <a class="card-topical__link" href="">hureninfortitudo.nl</a>
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 15 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep en Zadelhoff
                                    h5.card-topical__subtitle
                                        | Opvang Oekraïense Vluchtelingen 
                                    p.card-topical__text.text-strong Hulp is hard nodig! Vanuit een betrokken hart werken Maarsen Groep en Zadelhoff samen met de gemeente Amsterdam en Amstelveen hard aan de realisatie van een opvang op één van onze locaties voor Oekraïense vluchtelingen. We zetten alles op alles om er voor te zorgen dat deze vluchtelingen zo snel mogelijk terecht kunnen.
                                    p.card-topical__text.card-topical__text-middle Dit kunnen wij natuurlijk niet alleen en hebben hierbij hulp nodig voor o.a. de inrichting van de opvang; denk hierbij aan bedden, beddengoed, kookgerei, bestek etc.
                                    p.card-topical__text Wil je helpen? Laat het ons weten via  <a class="card-topical__link" href="">hulpvooroekraine@maarsengroep.nl</a>. Alle hulp is welkom!
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 2 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep steunt  
                                    h5.card-topical__subtitle
                                        | Plastic Bricks programma UNICEF
                                    p.card-topical__text.text-strong Maarsen Groep is een milieubewuste organisatie en neemt haar verantwoordelijkheid richting maatschappij en de toekomstige generaties. Vanuit deze visie steunt zij het Plastic Bricks programma van Unicef waarmee wordt bijgedragen aan een betere wereld voor kinderen.
                                    p.card-topical__text.card-topical__text-middle De Ivoorkust in West-Afrika kampt met een enorm plastic afval probleem. In het Plastic Bricks programma ontvangen vrouwen een eerlijke prijs voor het door hen verzamelde plastic afval dat wordt gerecycled tot plastic bouwstenen voor klaslokalen. Naast een antwoord op het afvalprobleem, zorgt het programma voor onderwijs en daarmee een betere toekomst van de jongeren en vrouwen in Ivoorkust. Maarsen groep is zich bewust van haar maatschappelijk verantwoordelijkheid en ondersteunt het initiatief van Unicef daarom van harte.
                                    a(href="").card-topical__link www.unicef.nl/ons-werk/resultaten/van-plastic-tot-schoolgebouw-in-ivoorkust
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 3 december 2021
                                    h4.card-topical__title
                                        | Project Triple Q: 
                                    h5.card-topical__subtitle
                                        | CORUM AM koopt tweetal hoogwaardige kantoorgebouwen in het Utrechtse 
                                    p.card-topical__text.text-strong CORUM AM heeft twee hoogwaardige kantoorpaviljoenen gekocht in Utrecht van Maarsen Groep.
                                    p.card-topical__text.card-topical__text-middle De door Maarsen Groep ontwikkelde en in 2012 en 2020 opgeleverde kantoorgebouwen zijn gelegen op het Businesspark Papendorp. De transactie betreft 75 parkeerplaatsen en circa 5.700 m2 BVO kantoorruimte, waarvan Triple Q1 circa 2.400 m2 omvat en Triple Q2 circa 3.300 m2. Deze twee eigentijdse en zeer duurzame kantoorgebouwen, ontworpen door Vera Yanovshtchinsky Architecten, zijn met een glazen loopbrug met elkaar verbonden en beide langjarig verhuurd aan consulting- en technologiebedrijf IG&H.
                                    p.card-topical__text Savills heeft CORUM AM bijgestaan tijdens deze transactie. Maarsen Groep is geadviseerd door Cushman & Wakefield en Houthoff.
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 31 maart 2022
                                    h4.card-topical__title
                                        | Fortitudo
                                    h5.card-topical__subtitle
                                        | Website online
                                    p.card-topical__text.text-strong Fijn huren dichtbij het centrum van Amsterdam met het Rembrandtpark als jouw achtertuin en winkels om de hoek.
                                    p.card-topical__text.card-topical__text-middle Op de hoek van de Postjesweg en de Derkinderenstraat in Amsterdam Nieuw-West realiseren wij nieuwe middeldure huurappartementen. In Fortitudo komen 67 appartementen in een mix van 2 of 3 kamer appartementen. Je woont dicht bij het centrum van Amsterdam met alle voordelen van de stad én met het groen van het Rembrandtpark om je heen. Voor veel mensen de ideale combinatie! Door de ligging is Fortitudo uitstekend bereikbaar met de fiets, auto en ov.
                                    p.card-topical__text Blijf op de hoogte via de site <a class="card-topical__link" href="">hureninfortitudo.nl</a>
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 15 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep en Zadelhoff
                                    h5.card-topical__subtitle
                                        | Opvang Oekraïense Vluchtelingen 
                                    p.card-topical__text.text-strong Hulp is hard nodig! Vanuit een betrokken hart werken Maarsen Groep en Zadelhoff samen met de gemeente Amsterdam en Amstelveen hard aan de realisatie van een opvang op één van onze locaties voor Oekraïense vluchtelingen. We zetten alles op alles om er voor te zorgen dat deze vluchtelingen zo snel mogelijk terecht kunnen.
                                    p.card-topical__text.card-topical__text-middle Dit kunnen wij natuurlijk niet alleen en hebben hierbij hulp nodig voor o.a. de inrichting van de opvang; denk hierbij aan bedden, beddengoed, kookgerei, bestek etc.
                                    p.card-topical__text Wil je helpen? Laat het ons weten via  <a class="card-topical__link" href="">hulpvooroekraine@maarsengroep.nl</a>. Alle hulp is welkom!
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 31 maart 2022
                                    h4.card-topical__title
                                        | Fortitudo 
                                    h5.card-topical__subtitle
                                        | Website online
                                    p.card-topical__text.text-strong Fijn huren dichtbij het centrum van Amsterdam met het Rembrandtpark als jouw achtertuin en winkels om de hoek.
                                    p.card-topical__text.card-topical__text-middle Op de hoek van de Postjesweg en de Derkinderenstraat in Amsterdam Nieuw-West realiseren wij nieuwe middeldure huurappartementen. In Fortitudo komen 67 appartementen in een mix van 2 of 3 kamer appartementen. Je woont dicht bij het centrum van Amsterdam met alle voordelen van de stad én met het groen van het Rembrandtpark om je heen. Voor veel mensen de ideale combinatie! Door de ligging is Fortitudo uitstekend bereikbaar met de fiets, auto en ov.
                                    p.card-topical__text Blijf op de hoogte via de site <a class="card-topical__link" href="">hureninfortitudo.nl</a>
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 15 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep en Zadelhoff
                                    h5.card-topical__subtitle
                                        | Opvang Oekraïense Vluchtelingen 
                                    p.card-topical__text.text-strong Hulp is hard nodig! Vanuit een betrokken hart werken Maarsen Groep en Zadelhoff samen met de gemeente Amsterdam en Amstelveen hard aan de realisatie van een opvang op één van onze locaties voor Oekraïense vluchtelingen. We zetten alles op alles om er voor te zorgen dat deze vluchtelingen zo snel mogelijk terecht kunnen.
                                    p.card-topical__text.card-topical__text-middle Dit kunnen wij natuurlijk niet alleen en hebben hierbij hulp nodig voor o.a. de inrichting van de opvang; denk hierbij aan bedden, beddengoed, kookgerei, bestek etc.
                                    p.card-topical__text Wil je helpen? Laat het ons weten via  <a class="card-topical__link" href="">hulpvooroekraine@maarsengroep.nl</a>. Alle hulp is welkom!
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 2 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep steunt  
                                    h5.card-topical__subtitle
                                        | Plastic Bricks programma UNICEF
                                    p.card-topical__text.text-strong Maarsen Groep is een milieubewuste organisatie en neemt haar verantwoordelijkheid richting maatschappij en de toekomstige generaties. Vanuit deze visie steunt zij het Plastic Bricks programma van Unicef waarmee wordt bijgedragen aan een betere wereld voor kinderen.
                                    p.card-topical__text.card-topical__text-middle De Ivoorkust in West-Afrika kampt met een enorm plastic afval probleem. In het Plastic Bricks programma ontvangen vrouwen een eerlijke prijs voor het door hen verzamelde plastic afval dat wordt gerecycled tot plastic bouwstenen voor klaslokalen. Naast een antwoord op het afvalprobleem, zorgt het programma voor onderwijs en daarmee een betere toekomst van de jongeren en vrouwen in Ivoorkust. Maarsen groep is zich bewust van haar maatschappelijk verantwoordelijkheid en ondersteunt het initiatief van Unicef daarom van harte.
                                    a(href="").card-topical__link www.unicef.nl/ons-werk/resultaten/van-plastic-tot-schoolgebouw-in-ivoorkust
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 3 december 2021
                                    h4.card-topical__title
                                        | Project Triple Q: 
                                    h5.card-topical__subtitle
                                        | CORUM AM koopt tweetal hoogwaardige kantoorgebouwen in het Utrechtse 
                                    p.card-topical__text.text-strong CORUM AM heeft twee hoogwaardige kantoorpaviljoenen gekocht in Utrecht van Maarsen Groep.
                                    p.card-topical__text.card-topical__text-middle De door Maarsen Groep ontwikkelde en in 2012 en 2020 opgeleverde kantoorgebouwen zijn gelegen op het Businesspark Papendorp. De transactie betreft 75 parkeerplaatsen en circa 5.700 m2 BVO kantoorruimte, waarvan Triple Q1 circa 2.400 m2 omvat en Triple Q2 circa 3.300 m2. Deze twee eigentijdse en zeer duurzame kantoorgebouwen, ontworpen door Vera Yanovshtchinsky Architecten, zijn met een glazen loopbrug met elkaar verbonden en beide langjarig verhuurd aan consulting- en technologiebedrijf IG&H.
                                    p.card-topical__text Savills heeft CORUM AM bijgestaan tijdens deze transactie. Maarsen Groep is geadviseerd door Cushman & Wakefield en Houthoff.
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 31 maart 2022
                                    h4.card-topical__title
                                        | Fortitudo
                                    h5.card-topical__subtitle
                                        | Website online
                                    p.card-topical__text.text-strong Fijn huren dichtbij het centrum van Amsterdam met het Rembrandtpark als jouw achtertuin en winkels om de hoek.
                                    p.card-topical__text.card-topical__text-middle Op de hoek van de Postjesweg en de Derkinderenstraat in Amsterdam Nieuw-West realiseren wij nieuwe middeldure huurappartementen. In Fortitudo komen 67 appartementen in een mix van 2 of 3 kamer appartementen. Je woont dicht bij het centrum van Amsterdam met alle voordelen van de stad én met het groen van het Rembrandtpark om je heen. Voor veel mensen de ideale combinatie! Door de ligging is Fortitudo uitstekend bereikbaar met de fiets, auto en ov.
                                    p.card-topical__text Blijf op de hoogte via de site <a class="card-topical__link" href="">hureninfortitudo.nl</a>
                        .swiper-slide
                            .card-topical.card-topical--news
                                .card-topical__image
                                    img(src="img/vacancy-1.jpg" alt="" title="" width="350" height="350")
                                .card-topical__wrap
                                    .history-vacancy__date
                                        | 15 maart 2022
                                    h4.card-topical__title
                                        | Maarsen Groep en Zadelhoff
                                    h5.card-topical__subtitle
                                        | Opvang Oekraïense Vluchtelingen 
                                    p.card-topical__text.text-strong Hulp is hard nodig! Vanuit een betrokken hart werken Maarsen Groep en Zadelhoff samen met de gemeente Amsterdam en Amstelveen hard aan de realisatie van een opvang op één van onze locaties voor Oekraïense vluchtelingen. We zetten alles op alles om er voor te zorgen dat deze vluchtelingen zo snel mogelijk terecht kunnen.
                                    p.card-topical__text.card-topical__text-middle Dit kunnen wij natuurlijk niet alleen en hebben hierbij hulp nodig voor o.a. de inrichting van de opvang; denk hierbij aan bedden, beddengoed, kookgerei, bestek etc.
                                    p.card-topical__text Wil je helpen? Laat het ons weten via  <a class="card-topical__link" href="">hulpvooroekraine@maarsengroep.nl</a>. Alle hulp is welkom!
                    .js-slider-news-pagination
                    a(href="").slider-news__archive Oudere nieuwsberichten >> 