mixin supports
    .supports
        .supports__title Maarsen Groep steunt
        ul.supports__list
            li.supports__item
                img(src="img/support.png" alt="" width="60" height="52").supports__img
            li.supports__item
                img(src="img/support.png" alt="" width="60" height="52").supports__img
            li.supports__item
                img(src="img/support.png" alt="" width="60" height="52").supports__img
