.section-head {
    position: relative;

    &__img {
        width: 100%;
    }

    h1 {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: 0 auto;
        padding: 0 15px;
        display: block;
        max-width: 1200px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: $color-white;
        z-index: 1;

        @include tablet {
            bottom: 40px;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.7rem;
        }

        @include desktop {
            bottom: 90px;
            font-size: 64px;
            line-height: 71px;
            letter-spacing: 1.8rem;
            padding-right: 100px;
        }
    }
}
