$tablet: 768px;
$desktop: 1280px;

$font-family: "outfit", Arial, sans-serif;
$font-family-gotham-bold: "gotham_bold", Arial, sans-serif;
$font-size: 16px;
$line-height: normal;

$container-width: 1360px;

$text-personality-position-color: #50b948;
$text-color-primary: #000;
$text-color-secondary: #969698;
$text-color-project-city-link: #51b845;

$body-bg: #fff;
$body-color: $text-color-primary;

$color-green: #50b948;
$color-blue: #0086b8;
$color-black: #000;
$color-light: #ecf4e9;
$color-light-gray: #ebebeb;
$color-white: #fff;
$color-light-green: #abd79a;
$color-dark: #2a3840;
$color-dark-green: #6db657; //rgb(109,182,87)
$color-dark-gray: #50545d;
$color-orange: #f7941d;
$color-elephant: #2a3840; //rgb(42,56,64)

$heading-font-family: "outfit", Arial, sans-serif;
$heading-color: #000;
$heading-mb: 1rem;

$link-color: #122631;
$link-hover-color: $color-green;
$link-active-color: $color-green;

$input-placeholder: #666;

$transition-duration: 0.2s;
